@import './styles/global.css';

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.coinfusion-app-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
